:root {
  /*Paleta de colores*/
  --color1: #F31761;
  --color1-hover: #D4005F;  /* Ajustado para mayor contraste */
  --color1-active: #C00057;  /* Ajustado para mayor contraste */

  --color2: #EB60AB;
  --color2-hover: #D6609D;  /* Ajustado para mayor contraste */
  --color2-active: #C2508B;  /* Ajustado para mayor contraste */

  --color3: #563FAB;
  --color3-hover: #4A2F9B;  /* Ajustado para mayor contraste */
  --color3-active: #3C208B;  /* Ajustado para mayor contraste */

  --color4: #25CFC4;
  --color4-hover: #1DB9B8;  /* Ajustado para mayor contraste */
  --color4-active: #18A9A0; 
  --blanco: #f2f2f2;
  --negro: #333333;

  /*Tipografia*/
  --encabezado: 'Gluten', cursive;
  --parrafo: 'Josefin Sans', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;

}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  font-family: var(--parrafo);
  font-size: 1.6rem;
  background: var(--blanco);
  border: solid 1px var(--negro);
  min-height: 100vh;
}
body.no-scroll {
    overflow: hidden;
}

header {
  height: 20vh;
  display: flex;
  align-items: center;
}

/*Encabezados*/
h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4.2re;
}

h4 {
  font-size: 3.4rem;
}

h1,
h2,
h3,
h4 {
  font-family: var(--encabezado);
  color: var(--color1);
  font-weight: bolder;
  text-transform: uppercase;
}
button{
  border: none;
}

/* Estilo para los enlaces */
a {
  text-decoration: none;
  background-color: transparent;
  color: var(--color4);
  transition: 0.5s;
}

a:hover {
  transition: 0.5s;
  cursor: pointer;
  color: var(--color4-hover);
}

ul {
  list-style: none;
}

/** Personalizados */
/* Estilo para los botones */
.btn--primary,
.btn--secondary {
  padding: 2rem 3rem;
  text-transform: uppercase;
  border-radius: 2rem;
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  color: var(--blanco);

}
.btn--primary {
  background-color: var(--color1);
  font-weight: bold;
}
.btn--primary:hover {
  background-color: var(--color1-hover);
}
.btn--secondary {
  background-color: var(--color2);
  font-weight: bold;
}
.btn--secondary:hover {
  background-color: var(--color2-hover);
}

.btn--primary:hover,
.btn--secondary:hover {
  color: var(--blanco);
  transform: translateY(-4px);
 cursor: pointer;

}
.btn--primary:active{
  background-color: var(--color1-active);
}
.btn--secondary:active {
  background-color: var(--color2-active);
}
/* Estilo para los contenido */
.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}
